.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent !important;
  /*Centerslidetextvertically*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 25px !important ;
  -webkit-border-radius: 25px !important ;
  -moz-border-radius: 25px !important ;
  -ms-border-radius: 25px !important ;
  -o-border-radius: 25px !important ;
}

/* Custom styles for Swiper pagination container */
.my-custom-slider .swiper-pagination {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 10px;
  right: 45px;
  justify-content: end;
  padding-right: 90px;
}

/* Custom styles for Swiper pagination bullets */
.my-custom-slider .swiper-pagination-bullet {
  background-color: #d4d4d4; /* Replace with your desired color */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0; /* Adjust this value to control the space between bullets */
}

/* Optional: If you want to change the active bullet's color */
.my-custom-slider .swiper-pagination-bullet-active {
  background-color: #1be59d; /* Replace with your desired color for the active bullet */
}
